body{
    font-family: Verdana;
}

header{
    text-align: center;
    margin: 20px;
}

div.child{
    display: inline-block;
}

section.parent{
    text-align: center;
}

footer{
    text-align: center;
}